:global(.icon) {
    cursor: pointer;
}

:local(.imageContainer) {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
    z-index: 100;

}

:local(.iconContainer) {
    position: absolute;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

:local(.show) {
    visibility: visible;
}
